* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial, sans-serif; */
  color: white;
  height: auto;
  font-size: 18px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  z-index: 99;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  height: 100vh;
  background-image: url(/Day3/images/desktop/image-header.jpg);
  background-size: cover;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

h1 {
  font-size: 48px;
  letter-spacing: 1rem;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.container-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.c1 {
  justify-content: center;
  align-items: start;
  color: black;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.c2 {
  background-image: url(/Day3/images/desktop/image-transform.jpg);
}

.c3 {
  background-image: url(/Day3/images/desktop/image-stand-out.jpg);
}

.c4 {
  justify-content: center;
  align-items: start;
  color: black;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.c5 {
  background-image: url(/Day3/images/desktop/image-graphic-design.jpg);

  height: 80vh;
  justify-content: end;
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
}

.c5-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  font-size: small;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  margin-inline-end: 7rem;
  margin-inline-start: 7rem;
  opacity: 70%;
}

.c6 {
  background-image: url(/Day3/images/desktop/image-photography.jpg);

  height: 80vh;
  justify-content: end;
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
}

.c6-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  font-size: small;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  margin-inline-end: 7rem;
  margin-inline-start: 7rem;
  opacity: 70%;
}

.container-testimoni {
  color: black;
  padding: 10rem;
  text-align: center;
}
.heading-testimoni {
  color: hsl(210, 4%, 67%);
  margin-bottom: 3rem;
  font-weight: 800;
}
.card-testimoni {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.container-image {
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gambar1 {
  background-image: url(/Day3/images/desktop/image-gallery-milkbottles.jpg);
  background-size: cover;
}

.gambar2 {
  background-image: url(./images/desktop/image-gallery-orange.jpg);
  background-size: cover;
}

.gambar3 {
  background-image: url(/Day3/images/desktop/image-gallery-cone.jpg);
  background-size: cover;
}

.gambar4 {
  background-image: url(/Day3/images/desktop/image-gallery-sugarcubes.jpg);
  background-size: cover;
}

.footer {
  background-color: #90d4c5;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.footer-hl ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  list-style: none;
  gap: 3rem;
}

.footer-hl a {
  text-decoration: none;
  color: red;

}

.footer-icon{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 2rem;
}